*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse files #
.classpath
.project

# Maven target #
target
/.settings
/bin

# Netbeans files #
/nbproject
build.xml
nbactions*

# Mac File System
.DS_Store
